.employeeDet {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.employeeDet td,
.employeeDet th {
  border: 1px solid #ddd;
  padding: 8px;
}

.employeeDet tr {
  background-color: #f2f2f2;
}

.employeeDet tr:hover {
  background-color: #ddd;
}

.employeeDet th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(195, 177, 202);
  color: black;
}
.heading {
  text-align: center;
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px rgb(13, 14, 13);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: rgb(226, 167, 226);
  color: black;
}
